<div class="row">

	<article class="span12 dark data-block">
						<header>
							<h2><%= t('Editing invoice') %></h2>
							<ul class="data-header-actions">
								<li class="">
									<%= link_to t('Back'), invoices_path, :class => "btn btn-alt" %>
								</li>
							</ul>
						</header>
						<section class="tab-content">
							<!-- Tab #horizontal -->
							<div id="horizontal" class="tab-pane active">				
								<%= render 'form' %>
							</div>
							<!-- /Tab #horizontal -->
						</section>
	</article>
</div>