				<!-- Main navigation -->
				<nav class="main-navigation">

					<!-- Responsive navbar button -->
					<div class="navbar">
						<a class="btn btn-alt btn-large btn-primary btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-home"></span> Dashboard</a>
					</div>
					<!-- /Responsive navbar button -->
					
				<!-- Navigation -->
					<div class="nav-collapse collapse" role="navigation">
						<ul>
							<li <% if params[:controller] == "welcome" %> class="active" <% end %> >
								<%= link_to root_path do %>
									<span class="icon-home"></span> Dashboard
								<% end %>	
							</li>
							
							
							
							<li <% if params[:controller] == "invoices" %> class="active" <% end %> >
								<%= link_to invoices_path do %>
									<span class="icon-file"></span> Invoices
								<% end %>	
							</li>
														
							<li <% if params[:controller] == "customers" %> class="dark active" <% end %> >
								<%= link_to customers_path do %>
								  <span class="icon-file"></span> Customers
								<% end %>	
							</li>
							
							<li <% if params[:controller] == "settings" %> class="dark active" <% end %> >
								<%= link_to settings_path do %>
								  <span class="icon-tasks"></span> Settings
								<% end %>	
							</li>
						</ul>
					</div>
					<!-- /Navigation -->
					</nav>
				<!-- /Main navigation -->