<!-- User profile -->
				<div class="user-profile">
					<figure>

						<!-- User profile avatar -->
						<!-- img alt="John Pixel avatar" src="http://placekitten.com/60/60" -->

						<!-- User profile info -->
						<figcaption>
							<strong><a href="#" class=""><John Pixel><%= current_user.companyname %></a></strong>
							<ul>
								<li><%= link_to t('Edit profile'), edit_user_registration_path %></li>
								<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
							</ul>
						</figcaption>
						<!-- /User profile info -->

					</figure>
				</div>
				<!-- /User profile -->