<!-- User profile -->
				<div class="user-profile">
					<figure>

						<!-- User profile avatar -->
						<img alt="John Pixel avatar" src="http://placekitten.com/60/60">

						<!-- User profile info -->
						<figcaption>
							<strong><a href="#" class="">John Pixel</a></strong>
							<ul>
								<li><a href="#" title="Message inbox">inbox</a></li>
								<li><a href="#" title="Account settings">settings</a></li>
								<li><a href="#" title="Logout">logout</a></li>
							</ul>
						</figcaption>
						<!-- /User profile info -->

					</figure>
				</div>
				<!-- /User profile -->